.section-header{
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section-header h1{
    font-size: 30px;
    margin: 20px 0;
    font-weight: 700;
}
.section-header p{
    text-align: center;
    opacity: 0.7;
}
.main-header-card{
    width: 800px;
    margin: 0 auto;
}
.card{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin: 100px 0;
}
.card-title{
    width: 50%;
}
.card-title h3{
    font-size: 25px;
    opacity: 0.7;
    padding-bottom: 10px;
}
.card-title p{
    opacity: 0.7;
    padding-bottom: 20px;
}
.card-title button{
    padding: 10px 25px;
    font-size: 18px;
    font-weight: 600;
    opacity: 0.7;
    border: 1.5px solid black;
}
.card-img img{
    width: 250px;
}
.video-container{
    width: 1000px;
    margin: 0 auto;
    border: 2px solid rgba(0, 0, 0, 0.254);
    padding: 20px;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 100px;
}
.video-container iframe{
    width: 1000px;
    height: 500px;
    border-radius: 20px;
}
.main-target-card{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-top: 50px;
    padding-bottom: 100px;
}
.main-target-card .card1{
    background-color: antiquewhite;
    width: 80%;
    height: 250px;
    padding: 30px;
    border-radius: 15px;
}
.main-target-card .card2{
    background-color: rgba(96, 244, 182, 0.301);
    width: 80%;
    height: 250px;
    padding: 30px;
    border-radius: 15px;
}
.main-target-card .card3{
    background-color: rgba(170, 126, 160, 0.339);
    width: 80%;
    height: 250px;
    padding: 30px;
    border-radius: 15px;
}
.main-target-card .pad h1{
    padding: 10px 0;
}
.main-target-card .pad p{
    padding-bottom: 10px;
    opacity: 0.7;
}
.main-target-card .pad a{
    color: black;
    font-size: 16px;
    font-weight: 600;
    opacity: 0.8;
}
.main-next-target{
    width: 1000px;
    margin: 0 auto;
    padding: 50px 0;
}
.next-target{
    display: flex;
    gap: 30px;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.223);
    border-radius: 15px;
    padding: 30px;
    margin-bottom: 30px;
}
.target-img img{
    width: 90px;
}
.target-title p{
    padding: 10px 0;
    opacity: 0.7;
    word-spacing: 5px;
}
.target-title a{
    color: black;
    font-size: 16px;
    font-weight: 600;
    opacity: 0.8;
}
.main-support-container{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    text-align: center;
    border-radius: 16px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url("../assets/handshake.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 420px;
    margin-bottom: 200px;
    color: white;
}
.main-support-container h3{
    font-size: 30px;
    word-spacing: 8px;
    padding-bottom: 10px;
}
.main-support-container p{
    opacity: 0.7;
    padding-bottom: 20px;
}
.main-support-container .input input{
    padding: 15px 140px;
    border-radius: 10px;
    outline: none;
    border: none;
    margin-right: 10px;
}

.main-support-container .input button{
    padding: 12px 25px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 17px;
    font-weight: 600;
    background-color: rgb(241, 100, 18);
    color: white;
}