@media only screen and (max-width:576px){
    .nav-container{
        padding: 0;
        margin: 0;
        width: 100%;
        flex-direction: column;
    }
    .header-container{
        margin-top: 50px;
        background-size: cover;
        height: 100%;
    }
    .section-header{
        width: 90%;
        text-align: center;
    }
    .card{
        flex-direction: column;
        width: 100%;
    }
    .card-title{
        text-align: center;
        width: 100%;
        padding-bottom: 30px;
    }
    .card-img{
        text-align: center;
        width: 100%;
    }
    .card-img img{
        width: 100%;
    }
    .video-container{
        width: 80%;
         margin: 30px auto; 
    }
    .video-container iframe{
        width: 100%;
        height: 300px;
    }
    .main-target-card{
        width: 90%;
        flex-direction: column;
    }
    .card1{
        text-align: center;
    }
    .card2{
        text-align: center;
    }
    .card3{
        text-align: center;
    }
    .pad{
        width: 80%;
        margin: 20px auto;
    }
    .main-next-target{
        width: 90%;
    }
    .next-target{
        flex-direction: column;
    }
    .target-title{
        width: 100%;
        text-align: center;
    }
    .target-img img{
        width: 100%;
    }
    .main-support-container{
        width: 90%;
        background-position: center;
    }
    .main-support-container .input input{
        padding: 15px 20px;
        margin: 0;
        border-radius: none;
    }
    footer{
        width: 100%;
        display: block;
    }
    .footer-name{
        width: 100%;
    }
    .footer-name h3{
        width: 100%;
        text-align: center;
    }
    .footer-icon{
        text-align: center;
    }
}